<body>
        <div>
                <h1 class="h2" style="text-align: center">Lista De Clientes<img src="assets/Imagenes/listaCliente.jpeg"
                                width="80" height="80" side="80"></h1>
        </div>
        <div>
                <input type="text" id="myInput" placeholder="Filtrar Por Nombre" name="filterPost"
                        [(ngModel)]="filterPost">

                <table class='table table-dark table-striped' id="myTable">
                        <thead>
                                <tr>
                                        <th>Cedula</th>
                                        <th>Nombre</th>
                                        <th>apellido</th>
                                        <th>telefono</th>
                                        <th>direccion</th>
                                        <th>edad</th>
                                        <th>correo</th>
                                        <th>Modificar-Elimi</th>
                                </tr>
                        </thead>
                        <tr *ngFor="let cliente of clientes | filtro:filterPost ">
                                <td>{{cliente.cliente_id}}</td>
                                <td>{{cliente.cliente_nombre1}}</td>
                                <td>{{cliente.cliente_apellido1}}</td>
                                <td>{{cliente.cliente_telefono}}</td>
                                <td>{{cliente.cliente_calle}} {{cliente.cliente_casa}} {{cliente.cliente_barrio}}</td>
                                <td>{{cliente.cliente_fechaN}}</td>
                                <td>{{cliente.cliente_email}}</td>
                                <td><a routerLink="/clientesEditElim/{{cliente.cliente_id}}">Editar-Modifi</a></td>
                        </tr>
                </table>
        </div>
</body>