<style>
    * {
            box-sizing: border-box;
    }

    #myInput {
            background-image: url('/css/searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
    }

    #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
    }

    #myTable th,
    #myTable td {
            text-align: left;
            padding: 12px;
    }

    #myTable tr {
            border-bottom: 1px solid #ddd;
    }

    #myTable tr.header,
    #myTable tr:hover {
            background-color: #270e3f;
    }
</style>

<div>
  <h1 class="h2" style="text-align: center">Lista De Producto<img src="assets/Imagenes/listaProducto.jpeg" width="80"
      height="80" side="80"></h1>
</div>
<input type="text" id="myInput"  placeholder="Filtrar producto Por Nombre" name="filterPost" [(ngModel)]="filterPost" >
<div>
  <table class='table table-dark table-striped' style="text-align: center">
    <thead>
      <tr>
      <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Costo</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Imagen</th>
        <th>Comprar</th>
      </tr>
    </thead>

    <tr *ngFor="let producto of productos | filtroproductos:filterPost">

      <!-- <td>
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src={{producto.url}} alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-text" style="text-align:center">Codigo: {{producto.id}}</h5>
                      <h5 class="card-title " style="text-align:center">{{producto.nombre}}</h5>
                      <h5 class="card-text" style="text-align:center">{{producto.descripcion}}</h5>
                      <h5 class="card-text" style="text-align:center">{{producto.precio}}</h5>
                      <h5 style="text-align:center">
                        <input style="text-align:center" size="5" [(ngModel)]="producto.cantidad" class="form-control"
                          type="text" />
                      </h5>
                      <input type="checkbox" class="form-control" id="ChkCompra" [(ngModel)]="producto.estado">
                    </div>
                  </div>
                </td>
                <td>
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src={{producto.url}} alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-text" style="text-align:center">Codigo: {{producto.id}}</h5>
                        <h5 class="card-title " style="text-align:center">{{producto.nombre}}</h5>
                        <h5 class="card-text" style="text-align:center">{{producto.descripcion}}</h5>
                        <h5 class="card-text" style="text-align:center">{{producto.precio}}</h5>
                        <h5 style="text-align:center">
                          <input style="text-align:center" size="5" [(ngModel)]="producto.cantidad" class="form-control"
                            type="text" />
                        </h5>
                        <input type="checkbox" class="form-control" id="ChkCompra" [(ngModel)]="producto.estado">
                      </div>
                    </div>
                  </td>
                  <td>
                      <div class="card" style="width: 18rem;" >
                        <img class="card-img-top" src={{producto.url}} alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-text" style="text-align:center">Codigo: {{producto.id}}</h5>
                          <h5 class="card-title " style="text-align:center">{{producto.nombre}}</h5>
                          <h5 class="card-text" style="text-align:center">{{producto.descripcion}}</h5>
                          <h5 class="card-text" style="text-align:center">{{producto.precio}}</h5>
                          <h5 style="text-align:center">
                            <input style="text-align:center" size="5" [(ngModel)]="producto.cantidad" class="form-control"
                              type="text" />
                          </h5>
                          <input type="checkbox" class="form-control" id="ChkCompra" [(ngModel)]="producto.estado">
                        </div>
                      </div>
                    </td> -->



      <td>{{producto.producto_id}}</td>
      <td>{{producto.producto_nombre}}</td>
      <td>{{producto.producto_costo}}</td>
      <td>{{producto.producto_descripcion}}</td>
      <td>{{producto.producto_precio}}</td>
      <td><img src={{producto.producto_imagen}} high="50" width="150"></td>
      <td><input type="checkbox" class="form-control" id="ChkCompra" [(ngModel)]="producto.producto_estado"></td>
    </tr>

  </table>
  <div class="form-group">
    <button (click)="buy()" right="300" class="btn btn-primary" [routerLink]='["/detalle"]'>COMPRAR
      SELECIONADOS</button>
  </div>
</div>