/* You can add global styles to this file, and also import other style files */
#Contenedor {
    background: rgb(83, 79, 77);
  }

  #izquierda {
    float: left;
    color: rgb(113, 114, 119);

  }

  #izquierda1 {
    float: left;
    color: rgb(113, 114, 119);
  }

  #izquierda2 {
    float: left;
    color: rgb(113, 114, 119);
  }

  #izquierda3 {
    float: left;
    color: rgb(113, 114, 119);
  }

  #derecha {
    float: left;
    color: rgb(113, 114, 119);
  }

  h5 {
    color: rgb(0, 0, 0);
  }