
    #Contenedor {
        background: rgb(83, 79, 77);
    }

    #izquierda {
        float: left;
        color: rgb(113, 114, 119);

    }

    #h4 {
        
        color: rgb(113, 114, 119);

    }

    * {
        box-sizing: border-box;
    }
    
    #myInput {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }
    
    
    #myTable {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 18px;
    }
    
    #myTable th,
    #myTable td {
        text-align: left;
        padding: 12px;
    }
    
    #myTable tr {
        border-bottom: 1px solid #ddd;
    }
    
    #myTable tr.header,
    #myTable tr:hover {
        background-color: #000000;
    }

    
    
.btn-primary {
    color: #fff;
    background-color: #1a1818;
    border-color: #000000;
}

    .panel-info>.panel-heading {
        color: #ffffff;
        background-color: #1a1818;
        border-color: #000000;
    }

    #debajo {
        float: below;
        color: rgb(113, 114, 119);

    }

    #arriba {
        float: above;
        color: rgb(113, 114, 119);

    }

    #izquierda1 {
        float: right;
        color: rgb(0, 0, 0);
    }

    #izquierda2 {
        float: left;
        color: rgb(113, 114, 119);
    }

    #izquierda3 {
        float: left;
        color: rgb(113, 114, 119);
    }

    #derecha {
        float: left;
        color: rgb(0, 0, 0);
    }

    h5 {
        color: rgb(0, 0, 0);
    }
