<!-- <img src="assets/Imagenes/LogoBlanco.jpeg" width="1100" height="500" > -->
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <h2>Login Form</h2>
  <form action="/action_page.php">
    <div class="imgcontainer">
      <!-- <img src="assets/Imagenes/LogoBlanco.jpeg" alt="Avatar" class="avatar"> -->
    </div>
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" id="usuario" name="uname" required>
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" id="contraseña" name="psw" required>
      <button type="submit"[routerLink]='["/menu"]' >Entrar </button>
      <div class="container" style="background-color:#f1f1f1">
      </div>
    </div>
  </form>
</body>
</html>