<div *ngIf="producto">
        <div class="form-group">
                <label>Cedula:
                    {{producto.producto_id}}
                </label>
            </div>
<div class="form-group">
    <label> Nombre Producto:
        <input style="text-align:center" [(ngModel)]="producto.producto_nombre" [ngModelOptions]="{standalone: true}" step="ffff" class="form-control"
            placeholder="digite el nombre del producto" type="text" />
    </label>
</div>
<div class="form-group">
    <label>costo:
        <input style="text-align:center" [(ngModel)]="producto.producto_costo" [ngModelOptions]="{standalone: true}" class="form-control"
            placeholder="digite el precio " type="number" />
    </label>
</div>
<div class="form-group">
    <label>Descripcion:
        <input style="text-align:center" [(ngModel)]="producto.producto_descripcion" [ngModelOptions]="{standalone: true}" class="form-control"
            placeholder="digite la descripcion " type="text" />
    </label>
</div>
<div class="form-group">
    <label>Imagen:
        <input [(ngModel)]="producto.producto_imagen" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="digite imagen " type="text" />
    </label>
</div>
<div class="form-group">
    <button (click)="update()" class="btn btn-primary">Actualizar</button>
    <button (click)="delete()" class="btn btn-primary">Eliminar</button>
</div>
</div>